
.profiles {
   width: 100%;


  color: #808080;

}

.profile-pic {
  width: 50px;
  border-radius: 50%;
}


.profile-wrapper {
 background-color: white;
 padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 30px;
 margin-left: 20px;
 flex: 1;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #282c34;
}

.profile-repo-link {
  color: #FFA500;
  text-decoration: none;
}

.profile-repo-link:hover {
  color: white;
}

@media (min-width: 600px) {
  .profiles {
    display: flex;
  }
}
