
.profiles {
  width: 100%;
  color: #808080;

}

.profile-pic {
  width: 50px;
  border-radius: 50%;
}


.profile-wrapper {
 background-image: linear-gradient(to bottom right, white, grey);
 box-shadow: 5px 10px #888888;
 padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 30px;
 margin-left: 20px;
 margin-right: 20px;
 flex: 1;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #282c34;
}

.profile-repo-link {
  color: #FFA500;
  text-decoration: none;
}

.profile-repo-link:hover {
  color: white;
}

@media (min-width: 500px) {
  .profile-wrapper {
    background-color: white;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
  }
    .profile-header {
      font-size: 10px;
    }
}

@media (min-width: 600px) {
  .profiles {
    display: flex;
    width: 75%;
  }
}

@media (min-width: 600px) {
  .profile-wrapper {
    background-color: white;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;

  }
}

@media (min-width: 800px) {
  .profile-header {
    font-size: 15px;
  }
  .profiles {
    flex-direction: row-reverse;
  }
}
