
.profiles {
  display: flex;

  color: #808080;

}

.profile-pic {
  width: 50px;
  border-radius: 50%;
}

.profile-heading {
  font-size: 20px;

}

.profile-wrapper {
 background-color: white;
 padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 30px;
 margin-left: 20px;
}

.profile-repo-link {
  color: #FFA500;
  text-decoration: none;
}

.profile-repo-link:hover {
  color: white;
}
