@font-face {
  font-family: 'PatuaOne-Regular';
  src: local('PatuaOne-Regular'), url(./assets/PatuaOne-Regular.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'Odibee Sans', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
